SERVICE_PROFILE=development
SERVICE_PORT=8091

POSTGRES_HOST=localhost
POSTGRES_PORT=5436
POSTGRES_INTERNAL_PORT=5432
POSTGRES_DATABASE=recursoshumanos_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

AUTH_JWT_ISSUER=https://qa-ingt.gov.cv/auth/realms/igrp

# Disable JWT enforcement in development (token still parsed if present)
SECURITY_ENABLED=false

ENABLE_SWAGGER=true

MINIO_URL=http://127.0.0.1:9000
MINIO_PORT=9000
MINIO_SECURITY=false
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_BUCKET_NAME=rh-bucket
MINIO_PRESIGNED_URL_EXPIRATION_TIME=3600

OTEL_ENABLED=false
OTEL_TRACES_EXPORTER=none
OTEL_METRICS_EXPORTER=none
OTEL_LOGS_EXPORTER=none
OTEL_COLLECTOR_ENDPOINT=http://localhost:4318
OTEL_SERVICE_NAME=recursoshumanos-service
