SERVICE_PROFILE=development
SERVICE_PORT=8083
SERVICE_NAME=recursoshumanos-service

KUBERNETES_DISCOVERY_ENABLED=false

LOGGING_LEVEL_ROOT=INFO
LOGGING_LEVEL_SPRING_WEB=DEBUG
LOGGING_LEVEL_APP=DEBUG

POSTGRES_SERVICE_NAME=postgres_rh_ingt
# Use <localhost> to conect to a database in docker with api outside, use <host.docker.internal> when running the full app, database inside docker desktop locally
POSTGRES_HOST=localhost
POSTGRES_DEFAULT_PORT=5432
POSTGRES_PORT=5436
POSTGRES_DATABASE=recursoshumanos_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

AUTH_JWT_ISSUER=http://localhost:8090/realms/quickstart

ENABLE_SWAGGER=true

MINIO_URL=http://127.0.0.1:9000
MINIO_PORT=9000
MINIO_SECURITY=false
MINIO_ACCESS_KEY=admin
MINIO_SECRET_KEY=admin12345678
MINIO_BUCKET_NAME=ingt-rh
MINIO_REGION=praia
MINIO_PRESIGNED_URL_EXPIRATION_TIME=1000
